# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Visual Studio Code Settings
.vscode/

# Misc files
main.py
comandi.txt
LatestChapter.code-workspace
switch2local.txt
botpic.jpg
db_data.txt
